<h1>Listing airplanes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Max passengers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airplanes.each do |airplane| %>
  <tr>
    <td><%= airplane.name %></td>
    <td><%= airplane.max_passengers %></td>
    <td><%= link_to 'Show', airplane %></td>
  </tr>
<% end %>
</table>
