<h1>Listing airports</h1>

<table>
  <tr>
    <th>Iata</th>
    <th>Stad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airports.each do |airport| %>
  <tr>
    <td><%= airport.iata %></td>
    <td><%= airport.stad %></td>
    <td><%= link_to 'Show', airport %></td>
  </tr>
<% end %>
</table>

